.registerPage_form {
    padding: 30px;
    width: 80%;
    margin: auto;
    display: block;
    height: 180vh;
    overflow: hidden;
}

@media only screen and (max-width: 740px) {
    .registerPage_form {
        height: 200vh;
        width: 90%;
    }
}


@media only screen and (max-width: 510px) {
    .registerPage_form {
        height: 230vh;
        width: 95%;
    }
}
