.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(122, 122, 122);
}

.header_brandname {
  display: flex;
  align-items: center;
  justify-content: center;
}
